*{
    margin: 0;
    padding: 0;
}
#menu-page{
    background-image: url("images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100vw; */
    height: 100vh;
    filter: blur(0px);
}

.heading{
    padding: 30px 50px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.menu{
    margin-top: 5%;
    margin-left: 40%;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

th,td{
    padding: 15px;
}